.vos-simple-popup {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    z-index: 9999999999;
}

.vos-simple-popup__backdrop {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.vos-simple-popup__container {
    width: 700px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    max-width: 95%;
    display: flex;
    align-items: center;
}

.vos-simple-popup__modal {
    position: relative;
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.vos-simple-popup__modal .close {
    position: absolute;
    top: 16px;
    right: 16px;
    opacity: 1;
    font-weight: 400;
    background: #e6e5e5;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    cursor: pointer;
}

.vos-simple-popup__content {
    padding: 24px;
    font-weight: 600;
}

.vos-simple-popup.vos-simple-popup--takeover .vos-simple-popup__container {
    width: 100%;
    max-width: 100%;
    margin: 0;
}

.vos-simple-popup.vos-simple-popup--takeover .vos-simple-popup__modal {
    width: 100%;
    height: 100%;
}

.vos-simple-popup.vos-simple-popup--takeover .vos-simple-popup__content {
    height: 100%;
    max-width: 800px;
    padding: 20vh 24px 10vh;
    margin: auto;
}

.vos-simple-popup.vos-simple-popup--takeover .vos-simple-popup__content p {
    font-size: 16px;
}

@media screen and (min-width: 991px) {
    .vos-simple-popup.vos-simple-popup--takeover .vos-simple-popup__content p {
        font-size: 24px;
    }
}

.vos-simple-popup.vos-simple-popup--takeover .close {
    font-size: 24px;
    font-family: "Trade Gothic Display 2 Base";
    text-align: right;
    max-width: 50%;
    color: #3d652d;
}

.btn.btn--cta {
    background-color: #00673b;
    color: #fff;
    font-family: "Trade Gothic Display 1 Layer 1";
    font-size: 24px;
    border-radius: 18px;
    padding: 6px 16px;
}